@media screen and (max-width: 1140px){
    .section__About{
        padding-top: 40rem;
    }
    section,
        .contact__Form-container {
            padding-bottom: 5rem;
        }
}
@media screen and (max-width: 900px){
    .nav__logo--name {
            font-size: 3.4rem;
        }
    body{
        font-size: 60%;
    }
                .section__About {
                    padding-top: 40rem;
                }
    .project__Label{
        font-size: 3rem;
    }
    .project__Value{
        font-size: 1.6rem;
    }
    .contact__Label{
        font-size: 1.6rem;
    }
    .contact__Value{
        font-size: 1.6rem;
    }
        .cards_Holder {
            padding: 0 2rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5;
            row-gap:3rem;
            column-gap: 1rem;
        }

.contact__Form-container{
    padding-bottom: 4rem;
}
    .section__Skills{
        padding: 3rem;
    }

    .skill__Card {
        width: 32rem;
    }
}
@media screen and (max-width: 780px){
    .nav__logo--name {
            font-size: 3.2rem;
        }
    .nav_menu{
        display: block;
        margin-right: 2rem;
    }
    .nav__navigation{
        display: none;
    }
    .nav__list{
        flex-direction: column;
        position: absolute;
        width: 100%;
        top:0;
        z-index: 10;
        left:0;
        align-items: flex-start;
        transition: all 1s;
        animation: ease-in-out 1s;
        background: rgba(0, 0, 0, 0.5);
        padding-left: 3.5rem;
    }

                .section__About {
                    padding-top: 40rem;
                }
                .heading__Primary{
                    font-size: 3.2rem;
                }
.about__me{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project__Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    justify-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
}
 .project__Box {
     gap:2rem;
 }
 .project__Label {
     font-size: 2.5rem;
 }

 .project__Value {
     font-size: 1.4rem;
 }
  .contact__Label {
      font-size: 1.4rem;
  }

  .contact__Value {
      font-size: 1.4rem;
  }
    .cards_Holder{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 6;
    }
         .contact__Form-container {
             width: 100%;
             padding: 3rem 4rem 4rem 4rem;
    
         }
         .skill__Card {
             width: 25rem;
         }
    .info__Container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 3rem;
    }
    .edu__List{
        width: 50rem;
        margin: 0 auto;
    }
}
@media screen and (max-width: 560px){
    .nav__logo--name{
font-size: 2.8rem;
    }
    .about__contents--name{
        font-size: 2.6rem;
    }
    .about__contents--designation{
        font-size: 2.4rem;
    }
    .heading__Primary {
            font-size: 2.8rem;
        }
    .cards_Holder {
            grid-template-columns: 1fr;
            grid-template-rows: 10;
        }
        .hero__description--title{
            font-size: 3.6rem;
        }
        .hero__description--text{
font-size: 1.6rem;
        }
    .skill__Card {
            width: 32rem;
        }
        .project__Box{
            gap:1rem;
        }
                .card__Description{
                    font-size: 1.4rem;
                }
        .project__Container {
            display: flex;
            flex-wrap: wrap;
        }
        .contact__Form-container{
            width: 100%;
            padding:3rem 2rem 4rem 2rem;

        }
        .contact__Container{
            flex-direction: column;
            gap:3rem;
        }
        .contact__Box{
            gap:1rem;
        }
                 .contact__Label {
                     font-size: 1.4rem;
                 }
        
                 .contact__Value {
                     font-size: 1.4rem;
                 }
                 .copyright__text{
                     font-size: 1.4rem;
                 }
}
@media screen and (max-width: 320px){
    .heading__Primary {
            font-size: 2.4rem;
        }
    
}